<div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="pl-3 text-dark">{{name}}</div>
            <hr class="m-0 mt-1">
            <small class="pl-3">NAME</small>
        </div>

        <div class="col-12 mb-4">
            <div class="pl-3 text-dark">{{email}}</div>
            <hr class="m-0 mt-1">
            <small class="pl-3">Email</small>
        </div>
        
        <div class="col-12 mb-4">
            <div class="pl-3 text-dark">{{phone}}</div>
            <hr class="m-0 mt-1">
            <small class="pl-3">Phone</small>
        </div>

    </div>
</div>